@{
    ViewData["Title"] = "My Hobby: Snow Skiing";
}

<h1 style="text-align:center">Welcome to my website about snow skiing!</h1>
<br />
<img src="~/img/skiresort.jpg" id="image1"/>
<br />
<p style="text-align:center">
    I have been skiing for as long as I can remember. 
    I grew up in a family that loved it and was fortunate 
    enough to spend a lot of time on the mountain. It was 
    such a great way to spend time with my family and also 
    have fun. I later married into a family where my 
    mother-in-law is a ski instructor and so I was 
    able to really fine-tune and lock in my skills.
    Whether that’s cruising down groomed runs, skiing 
    powder in the back mountain, or bumping down mogul runs, 
    I love to be in the mountains skiing.
</p>
<br />
<img src="~/img/snowski1.jpg" id="image2" />
<p style="text-align:center">
    As a tutor, I am able to provide very unique skills 
    to new and experienced skiers. All growing up it was 
    all about good technique on groomed runs. For beginners, 
    I can really help them dial in their form on green and 
    blue runs so that they can easily transition into more 
    difficult terrain. For more experienced skiers, I offer 
    good powder skiing tips and tricks with knowledge of the 
    mountain and where potential hiccups can come in the runs.
    I also am one of the few skiers on the mountain who knows 
    the proper way to ski moguls. With my teaching you will 
    be able to ski the bumps with ease and impress everyone 
    on the mountain. So whether you are skiing for the 1st 
    time or the 100th time, I can help you become the skier 
    you’ve always wanted to be.
</p>